<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Writing your first web app using Python and Flask</title>

		<meta name="author" content="Danielle Madeley">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/danni.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-background="http://farm8.staticflickr.com/7115/7695277030_ffcf59e508_b.jpg">
					<h2>Writing your first web app using Python and Flask</h2>

          <p>Danielle Madeley, Info<span style="color:red;">x</span>change</p>
          <p><small>
            <i class="icon-globe"></i> blogs.gnome.org/danni
            <i class="icon-twitter"></i> dannipenguin
          </small></p>
          <aside class="credit">
            flickr.com/photos/kevinomara/7695277030
          </aside>
				</section>

        <section>
          <h3>If you haven't already...</h3>
          <p style="font-size:32pt;">
            git clone<br/>
            git://github.com/danni/linux-conf-au-flask-tute
          </p>
          <p style="padding-top:1em;">
            Follow the README to set up your environment
          </p>
        </section>

        <section>
          <ul>
            <li>What is Flask and why would you use it</li>
            <li>Rendering your first response</li>
            <li>Handling forms and POST data</li>
            <li>Using SQLAlchemy</li>
            <li>Writing your first RESTful API</li>
            <li>Holding open a connection to emit updates</li>
            <li>Testing your app with py.test</li>
            <li>Deploying to Redhat's Openshift platform</li>
          </ul>
        </section>

        <section>
          <pre style="font-size:40pt;">
import cgi
          </pre>
          <h2 class="fragment fade-in expand" data-fragment-index="2">
            Just kidding!
          </h2>
        </section>

        <section data-background="http://farm4.staticflickr.com/3645/3579118891_eaa23ff221_b.jpg">
          <h2>Just what is Flask?</h2>
          <aside class="credit">
            flickr.com/photos/markstos/3579118891
          </aside>
        </section>

        <section>
          <h2>Rendering your first response</h2>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
#!/usr/bin/env python

from flask import Flask


app = Flask(__name__)

if __name__ == '__main__':
    app.run(debug=True)
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
#!/usr/bin/env python

from flask import Flask


app = Flask(__name__)

@app.route('/')
def index():
    """Homepage"""

    return "Hello, linux.conf.au"


if __name__ == '__main__':
    app.run(debug=True)
          </code></pre>
        </section>

        <section>
          <pre>
$ . python_env/bin/activate
$ git checkout example-01
$ pip install -r requirements.txt
$ python webapp/__init__.py
          </pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask import redirect, render_template


@app.route('/a-redirect')
def a_redirect():
    """Redirect the user"""

    return redirect(SOME_URL)


@app.route('/a-template')
def a_template():
    """Render a page using a Jinga2 template"""

    return render_template('template.html')
          </code></pre>
        </section>

        <section>
          <h3>By default: templates are located in the module's
            <tt>templates/</tt> directory:</h3>
          <ul>
            <li>webapp/</li>
            <ul>
              <li>__init__.py</li>
              <li>templates/</li>
              <ul>
                <li>template.html</li>
              </ul>
            </ul>
          </ul>
        </section>

        <section>
          <pre>
$ git checkout example-02
$ pip install -r requirements.txt
$ python webapp/__init__.py
          </pre>
        </section>

        <section>
          <h2>handling query strings</h2>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask import request


@app.route('/')
def index():
    """Return the name query argument"""

    return request.args['name']
          </code></pre>
        </section>

        <section>
          <h2>or doing it RESTfully</h2>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
@app.route('/item/&lt;int:pk&gt;')
def get_item(pk):
    """Return the item referred to by pk"""

    # ...
          </code></pre>
        </section>

        <section>
          <p>
            ?ou=Linux+Australia&amp;ou=linux.conf.au
          </p>
          <pre class="fragment fade-in expand" data-fragment-index="2">
request.args['ou'] == 'Linux Australia'
request.args.getlist('ou') ==
    ['Linux Australia', 'linux.conf.au']
          </pre>
          <pre class="fragment fade-in expand" data-fragment-index="3">
request.args['not present'] raises KeyError
request.args.getlist('not present') == []
          </pre>
        </section>

        <section>
          <h2>handling forms and POST data</h2>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask import request


@app.route('/')
def index():
    """Return the name POST value"""

    return request.form['name']
          </code></pre>
        </section>

        <section>
          <h2>or better still use a forms library</h2>
          <pre>
            pip install Flask-WTF
          </pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim style="font-size:18pt;">
from flask import Flask, render_template
from flask.ext.wtf import Form

from wtforms import TextField


class RegoForm(Form):
    """A simple rego form"""

    email = TextField('Email')


@app.route('/register', methods=('GET', 'POST'))
def get_register():
    """Handle the registration form"""

    form = RegoForm()

    if form.validate_on_submit():
        return "Success"

    return render_template('template.html', form=form)

if __name__ == '__main__':
    app.secret_key = 'THIS IS REALLY SECRET'
    app.run(debug=True)
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask.ext.wtf import Form

from wtforms import TextField, validators


class RegoForm(Form):
    """A simple rego form"""

    email = TextField('Email'
                      validators=(validators.DataRequired(),
                                  validators.Email()))
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
<form method="post">
  {{ form.hidden_tag() }} {# for CSRF.. important! #}
  {{ form.email.label }}
  {{ form.email }}
  {% if form.email.errors %}
    <ul>
      {% for error in form.email.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <input type="submit"/>
</form>
          </code></pre>
          <aside class="notes">
            This is example 3
          </aside>
        </section>

        <section>
          <h2>SQL alchemy</h2>
          <pre>
            pip install Flask-SQLAlchemy
          </pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask.ext.sqlalchemy import SQLAlchemy


db = SQLAlchemy(app)

class User(db.Model):
    """A user in my database"""

    __tablename__ = 'users'

    id = db.Column(db.Integer, primary_key=True)

    # ...
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
if __name__ == "__main__":
    app.config['SQLALCHEMY_DATABASE_URI'] = \
        'postgresql://username:password@localhost/myapp'
    app.run(debug=True)
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
user = db.session.query(User)\
    .filter(User.user_id == user_id)\
    .one()
          </code></pre>
        </section>

        <section>
          <h2>+ migrations</h2>
          <h3>(with Alembic)</h3>
          <pre>
            pip install Flask-Migrate
          </pre>
        </section>

        <section>
          <h3>Detour:</h3>
          <h2>Flask-Script</h2>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask import Flask
from flask.ext.script import Manager


app = Flask(__name__)
manager = Manager(app)


if __name__ == '__main__':
    manager.run()
          </code></pre>
        </section>

        <section>
          <pre style="font-size:14pt;">
$ python __init__.py
usage: __init__.py [-h] {shell,runserver} ...

positional arguments:
  {shell,runserver}
    shell            Runs a Python shell inside Flask application context.
    runserver        Runs the Flask development server i.e. app.run()

optional arguments:
  -h, --help         show this help message and exit

$ python __init__.py runserver
 * Running on http://127.0.0.1:5000/
 * Restarting with reloader
          </pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask import Flask
from flask.ext.migrate import Migrate, MigrateCommand
from flask.ext.script import Manager
from flask.ext.sqlalchemy import SQLAlchemy


app = Flask(__name__)

manager = Manager(app)

db = SQLAlchemy(app)

migrate = Migrate(app, db)
manager.add_command('db', MigrateCommand)
          </code></pre>
        </section>

        <section>
          <pre>
$ python webapp/__init__.py db init
$ git add migrations
          </pre>
        </section>

        <section>
          <pre>
$ python webapp/__init__.py db migrate
$ git add migrations/versions
$ python webapp/__init__.py db upgrade
          </pre>
        </section>

        <section>
          <h3>Tie it all together so far:</h3>
          <h2>Models and Forms</h2>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask.ext.wtf import Form

from wtforms.ext.sqlalchemy.orm import model_form


class User(db.Model):
    """A user"""

    __tablename__ = 'users'

    id = db.Column(db.Integer, primary_key=True)
    email = db.Column(db.String(256), unique=True)

UserForm = model_form(User, base_class=Form)
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code style="font-size:18pt;" data-trim>
from flask.ext.wtf import Form

from wtforms import validators
from wtforms.ext.sqlalchemy.orm import model_form


UserForm = model_form(User, base_class=Form, field_args={
    'email': {
        'validators': [validators.Email()],
    },
})
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code style="font-size:18pt;" data-trim>
from flask import Flask, request, render_template, redirect, url_for


@app.route('/register', methods=('GET', 'POST'))
def register():
    """Register a new user"""

    obj = User()
    form = UserForm(request.form, obj)

    if form.validate_on_submit():
        form.populate_obj(obj)
        db.session.add(obj)
        db.session.commit()

        return redirect(url_for('register'))

    return render_template('template.html',
                           form=form,
                           users=User.query.all())

          </code></pre>
          <aside class="notes">
            This is example 4
          </aside>
        </section>

        <section>
          <h2>Emitting events</h2>
          <h3>(and other streams)</h3>
        </section>

        <section>
          <h3>Detour:</h3>
          <h2>Generators</h2>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
def fibonacci():
    """Generate an infinite Fibonacci sequence"""
    a = 0
    b = 1

    while True:
        yield b
        c = a + b
        a = b
        b = c
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
for i in fibonacci():
    print i

    # WARNING: will never end!
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
def fibonacci(n=10):
    """Generate an n elements of the Fibonacci sequence"""
    a = 0
    b = 1

    for i in xrange(n):
        yield b
        c = a + b
        a = b
        b = c
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
for i in fibonacci():
    print i
          </code></pre>

          <pre>
1
1
2
3
5
8
13
21
34
55
          </pre>
        </section>

        <section>
          <h2>We can use a generator to emit the response!</h2>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask import Response, stream_with_context


@app.route('/events/stream')
def get_events():
    """Return a stream of events"""

    @stream_with_context
    def generate():
        """
        A generator that returns a single JSON-encoded
        event, followed by an empty line.
        """

        while True:
            yield get_event()

    return Response(generate(),
                    mimetype='text/event-stream')
          </code></pre>
        </section>

        <section>
          <pre>
$ git checkout example-05
$ pip install -r requirements.txt
$ python webapp/__init__.py runserver \
    --threaded
          </pre>
        </section>

        <section>
          <h2>But wait!</h2>
        </section>

        <section>
          <p>
            Flask will gracefully finish requests.
          </p>
          <p>
            One request will never finish.
          </p>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from flask.ext.script import (Manager,
                              Server as ServerCommand)

class Server(ServerCommand):
    def handle(self, *args, **kwargs):
        app.running = True

        super(Server, self).handle(*args, **kwargs)

        print "Shutting down"
        app.running = False

manager.add_command('runserver', Server)
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code data-trim>
from Queue import Queue

queue = Queue()

@stream_with_context
def generate():
    """
    Yield JSON-encoded events
    """

    while app.running:
        try:
            item = queue.get(timeout=1)

            yield format_messages([item])
            queue.task_done()  # eat the queue item
        except Empty:
            pass
          </code></pre>
        </section>

        <section>
          <h2>the other side</h2>
          <p><b>warning:</b> javascript ahead</p>
          <!-- FIXME -->
        </section>

        <section data-background="#3F3F3F">
          <pre><code style="font-size:16pt;" data-trim>
<html>
  <title>Event Stream</title>
  <body>
    <ul id="messages">
      {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </body>
</html>

<script src="/static/bower/jquery.js" type="text/javascript"></script>
<script src="/static/bower/jquery.eventsource.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function() {
    $.eventsource({
      label: 'connect',
      dataType: 'json',
      url: '/events/stream',
      message: function(data) {
          $.each(data, function() {
              $('<li>', { text: this }).appendTo('#messages');
          });
      }
    })
});
</script>
          </code></pre>
        </section>

        <section>
          <pre>
$ git checkout example-06
$ pip install -r requirements.txt
$ bower install  # N.B. http://bower.io/
$ python webapp/__init__.py collectstatic
          </pre>
        </section>

        <section>
          <p>
            If you're into websockets you can look at
            github.com/kennethreitz/flask-sockets
          </p>
        </section>

        <section>
          <h1>Testing with py.test</h1>
        </section>

        <section data-background="#3F3F3F">
          <h3>tests/conftest.py</h3>
          <pre><code style="font-size:16pt;" data-trim>
import pytest

from webapp import (app as flask_app,
                    db as flask_db)


@pytest.fixture(scope='session')
def db():
    """Set up the database"""

    flask_app.config['TESTING'] = True
    flask_app.config['SQLALCHEMY_DATABASE_URI'] = ...

    flask_db.drop_all()
    flask_db.create_all()

    return flask_db


@pytest.fixture(scope='session')
def app(db):
    """Set up the Flask test client"""

    return flask_app.test_client()
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <h3>tests/test_views.py</h3>
          <pre><code data-trim>
"""
app and db are available in the test scope
"""

def test_index(app):
    """Test I can get the index page"""

    rv = app.get('/')

    print rv.data

    assert '&lt;title&gt;' in rv.data
          </code></pre>
        </section>

        <section>
          <pre>
$ git checkout example-07
$ pip install -r requirements.txt
$ py.test tests/
          </pre>
        </section>

        <!--section data-background="#3F3F3F">
          <h2>with mocks</h2>
          <pre><code style="font-size:16pt;" data-trim>
import pytest

from webapp import app as flask_app


@pytest.fixture
def oauth(monkeypatch):
    """An OAuth monkeypatch"""

    flask_app.route('/authorize')
    def mock_authorize():
        """Skip the OAuth step"""

        # FIXME: set the token

        return redirect(request.args['redirect_uri'])


def test_oauth_finale(app, oauth):
    # FIXME
    pass
          </code></pre>
        </section-->

        <section>
          <h2>deploying to OpenShift</h2>
        </section>

        <section>
          <p>
            To deploy OpenShift runs your top-level setup.py
          </p>
          <p>
            To serve requests OpenShift runs
            <tt>wsgi.application.application</tt>
          </p>
          <p>
            www.openshift.com/developers/python
          </p>
        </section>

        <section data-background="#3F3F3F">
          <h3>setup.py</h3>
          <pre><code style="font-size:16pt;" data-trim>
import os

from setuptools import setup, find_packages

PROJECT_ROOT = os.environ.get('OPENSHIFT_REPO_DIR',
                              os.path.dirname(os.path.abspath(__file__)))

with open(os.path.join(PROJECT_ROOT, 'requirements.txt')) as file_:
    requirements = [req.strip() for req in file_.xreadlines()]

setup(name='example',
      version='0.0',
      author='Danielle Madeley',
      author_email='danielle@madeley.id.au',
      url='https://github.com/danni/linux-conf-au-flask-tute',
      description='Example deploy to OpenShift',
      install_requires=requirements,
      )
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <h3>wsgi/application.py</h3>
          <pre><code style="font-size:16pt;" data-trim>
import os
import sys

# add local code
sys.path.append(os.path.join(os.environ['OPENSHIFT_REPO_DIR']))

# initialise virtual environment
virtenv = os.environ['OPENSHIFT_HOMEDIR'] + 'python-2.7/virtenv/'
os.environ['PYTHON_EGG_CACHE'] = os.path.join(virtenv, 'lib/python2.7/site-packages')

virtualenv = os.path.join(virtenv, 'bin/activate_this.py')

try:
    execfile(virtualenv, dict(__file__=virtualenv))
except IOError:
    pass

# import and configure WSGI application
from webapp import app as application
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <pre><code style="font-size:16pt;" data-trim>
app = Flask(__name__)

app.secret_key = os.environ.get('OPENSHIFT_SECRET_TOKEN',
                                'THIS IS REALLY SECRET')
app.config['SQLALCHEMY_DATABASE_URI'] = \
    os.environ.get('OPENSHIFT_POSTGRESQL_DB_URL',
                   'sqlite:///../app.db')

try:
    app.static_folder = os.path.join(os.environ['OPENSHIFT_REPO_DIR'], 'wsgi')
except KeyError:
    pass
          </code></pre>
        </section>

        <section>
          <p>
            (assuming you've set up Openshift)
          </p>
          <pre style="font-size:18pt;">
$ rhc app create example python-2.7 --no-git
$ git remote add rhc ssh://...@example-.../~/git/example.git/

$ rhc cartridge add -c postgresql-9.2 -a example

$ git push rhc --force example-08:master
          </pre>
        </section>

        <section>
          <ul>
            <li>setup.py</li>
            <li>manage.py</li>
            <li>webapp</li>
            <ul>
              <li>__init__.py</li>
              <li>manager.py</li>
              <li>models.py</li>
              <li>views.py</li>
              <li>collectstatic.py</li>
              <li>templates</li>
              <ul>
                <li>events.html</li>
                <li>template.html</li>
              </ul>
            </ul>
          </ul>
        </section>

        <section>
          <h2>Going Further</h2>
          <h2>Getting Bigger</h2>
        </section>

        <section data-background="#3F3F3F">
          <h3>class based views</h3>
          <pre><code data-trim>
from flask.views import MethodView

class UserAPI(MethodView):

    def get(self):
        users = User.query.all()
        ...

    def post(self):
        user = User.from_form_data(request.form)
        ...

app.add_url_rule('/users/',
                 view_func=UserAPI.as_view('users'))
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <h2>blueprints</h2>
          <pre><code data-trim>
from flask import Blueprint, render_template

simple_page = Blueprint('simple_page', __name__,
                        template_folder='templates')

@simple_page.route('/<page>')
def show(page):
    return render_template('pages/%s.html' % page)
          </code></pre>
        </section>

        <section data-background="#3F3F3F">
          <h2>blueprints</h2>
          <pre><code data-trim>
from flask import Flask
from module.simple_page import simple_page

app = Flask(__name__)
app.register_blueprint(simple_page)
          </code></pre>
        </section>

        <section data-background="http://farm4.staticflickr.com/3494/3763640652_c01592c5d8_b_d.jpg">
          <h1>fin ;-)</h1>
          <p>github.com/danni/linux-conf-au-flask-tute</p>
          <p><small>
            <i class="icon-globe"></i> blogs.gnome.org/danni
            <i class="icon-twitter"></i> dannipenguin
          </small></p>
         <aside class="credit">
           flickr.com/photos/mau3ry/3763640652
         </aside>
        </section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: false,
				progress: false,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'zoom', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
